html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 605px;
    max-height: 605px;
    image-rendering: pixelated;
    /* Mantiene el efecto de pixel art */
}